@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --body-background-color: #171819;
    --body-text-color: #FFFFFF;
    --card-background-color: #232628;
    --nav-background-color: #232628;
    --nav-border-bottom-color: #232628;
    --nav-current-border-bottom-color: #E71324;
    --card-border-color: #232628;
    --down-border-left-color: #E73913;
    --down-background-color: #501407;
    --degraded-border-left-color: #FFC700;
    --up-border-left-color: #76D73A;
    --tag-color: #232628;
    --tag-up-background-color: #76D73A;
    --tag-down-background-color: #EF5B3B;
    --tag-degraded-background-color: #FFC700;
    --change-background-color: #f7b731;
    --error-button-border-color: #1a46ad;
    --error-button-background-color: #3867d6;
    --error-button-color: #ffffff;
    --submit-button-border-color: #1a46ad;
    --submit-button-background-color: #3867d6;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-top: 30px;
    }
}

h1 {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 700 !important;
}

h2 {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 1.5rem !important;
    line-height: 1.8125rem !important;
}

h4 {
    font-family: 'Karla' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 1.1875rem !important;
}


.graph {
    --background: none !important;
}

article {
    border-radius: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    border-right: 0px !important;
}

article.up {
    border-left: 0.3rem solid !important;
}

article .graph {
    font-family: 'Karla' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
}

.logo {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
}

.lead {
    font-family: 'Karla' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 17.6px !important;
}


li {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
}

footer {
    font-family: 'Karla' !important; 
    font-style: normal !important; 
    font-weight: 400 !important; 
    font-size: 16px !important; 
    font-size: 1rem !important; 
    line-height: 1.5rem !important; 
}

.graph {
    --background: none;
}